

    
    body {
        margin: 0px auto;
        background-color: #fff;
        
    }
    /* par que no tenga margen */
    header{ 
     float: left; 
     width: 96%; 
     padding: 1%;
    
    }     
     
    nav{ 
        background-color: #007fa2;
        float: left;
        width: 96%; 
        padding: 1%;
        margin: 1%;
       } 

    #usuario {
        float: left;
        width: 50%;
 
    }

    #sesion {
        float: right;
        width: 50%;
 
    }

    .sesion { 
        margin: 1%;
        float: right;         
    } 
   
    .itemnav { 
        
        margin: 1%;
        float: left; 
    }  
    ul {
        list-style: none;
    } 
    a{
        text-decoration: none;
        color: white;
        font-size:x-large;
    } 
    
    #content{/*clase footer*/
        float: left;
        width: 96%; 
        padding: 1%;
        margin: 1%;
    }

    #div1{
     float: left;       
     width: 46%; 
     padding: 1%;
     margin: 1%;
    } 

    #div2{ 
    float: left; 
     width: 46%; 
     padding: 1%;
     margin: 1%;
    } 

   
    footer{ 
        
        float: left; 
        width: 96%; 
        padding: 1%;
        margin: 1%;
       } 

    .footer{ /*clase footer*/
     float: left; 
     width: 50%; 
    
    }
    /* se agrego de w3school */

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: #111;
      }

