    body {
        margin: 0 auto !important;
        background-color: #fff;
        
    }
    /* par que no tenga margen */
    header{ 
     float: left; 
     width: 100%; 
     background-color: #144155;    
    }     
    nav{        
        float: left;
        width: 100%; 
        background-color: #007fa2;
       } 

    nav ul li {
        display: inline;
        padding: 1%;
    }
    #usuario {
        float: left;
        width: 33.33%; 
        text-align: left;
    }
    #usuario h3 {
        width: 100%; 
        text-align: center;
        padding: 1%;
    }
    #logo {
        float: left;
        width: 33.33%;
        text-align: center;
    }
    #sesion {
        float: left;
        width: 33.33%;
        text-align: right; 
    }
    
    #sesion li{
       display: inline; 
    }
    ul {
        list-style: none;
    } 
    a{
        text-decoration: none;
        color: rgb(10, 0, 0);
        font-size:x-large;
    }     
    #facturacion{
        float: left;
        width: 100%;
        background-color: antiquewhite;
 
    }

    .etiquetasDatosFacturas{
        float: left;
        width: 30%;
    }
    .inputDatosFacturas{
        width: 70%;
    }
    #contenedorDatos{
        padding: 2%;
        text-align: left;
        border: solid;

    }
    #contenedorDetallesFacturas{
        padding: 2%;
        border: solid;
    }
    #formularioDatosFactura{
    
     float: left;       
     width: 50%; 
    } 
    #detalleFactura{ 
    float: left; 
     width: 50%; 
    }      
    footer{   
        float: left; 
        width: 100%; 
        background-color: grey;
       } 
       
    #contacto {
        float: left;
        width: 33.33%; 
        text-align: center;
    }    
    #sociales {
        float: left;
        width: 33.33%; 
        text-align: center;
    }
    #nosotros {
        float: left;
        width: 33.33%; 
        text-align: center;
    }
    #nosotros p {
        text-align: justify;
    }
   

  

