    body {
        margin: 0 auto !important;
        background-color: #fff;
        font-family: 'Roboto', sans-serif;      
    }
    /* par que no tenga margen */
    header{ 
     float: left; 
     width: 100%; 
     background-color: #144155;  
     color:rgb(207, 235, 235); 
    }  
     
   
    nav{        
        float: left;
        width: 100%; 
        background-color: #007fa2;
        color:rgb(187, 234, 234); 
 
    } 

    nav ul li {
        display: inline;
        padding: 1%;
    }
    header ul li
    {
        padding: 5%;
        font-size: large;
    }

    #usuario {
        float: left;
        width: 33.33%; 
        text-align: left;
    }
    #usuario h3 {
        width: 100%; 
        text-align: center;
        padding: 1%;
    }
    #logo {
        padding-top:1% ;
        float: left;
        width: 33.33%;
        text-align: center;
    }
    #sesion {
        float: left;
        width: 33.33%;
        text-align: right; 
    }
    
    #sesion li{
       display: inline; 
    }
    #sesion i {
       padding-right: 5%; 
     }
    ul {
        list-style: none;
    } 
    a{
        text-decoration: none;
        color:rgb(187, 234, 234); 
        font-size:x-large;
    }     
    #facturacion{
        float: left;
        width: 100%;
        background-color: #e6f2f6;
        padding-bottom: 10%;
    
    }
    #contenedorRegistroClientes{
        padding: 2%;
        float: left;
        width: 30%;
    }
    #contenedorTabla{
        padding: 2%;
        float: left;
        width: 70%;
    }

    .etiquetasDatosFacturas{
        float: left;
        width: 30%;
    }
    .inputDatosFacturas{
        width: 70%;
    }
    .etiquetaClientes{
        float: left;
        width: 30%;
    }
    .inputDatosClientes{
        width: 70%;
    }
   
    #contenedorDatos{
        padding: 5%;
        text-align: left;  
           
    }
    #contenedorDatos h3 {
        text-align: center;     
    }
    #contenedorDetallesFacturas{
        padding: 5%;
    }
    #contenedorDetallesFacturas H3 {
        text-align: center;    
    }
    #formularioDatosFactura{
    
     float: left;       
     width: 50%;

    } 
    #detalleFactura{ 
    float: left; 
     width: 50%; 
    } 

    #tablaClientes{
        float: left;       
        width: 50%;
    }
     
      #contenedorBuscarProducto{
        float: left;
        width: 100%;
        margin-bottom: 5%;
     }
      #buttonBuscarProductos {
        background-color: #007fa2; /* Green */
        color:rgb(187, 234, 234); 
        padding: 1%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: medium;
        cursor: pointer;
        border-radius: 5%;
      } 
      #campoBusqueda{
        padding: 1%;
        font-size: medium;
        float: left;
        margin-right: 1%;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #a7a4ab;
        text-align: center;
        padding: 1%;
        width: 20%;
      }
      
      tr:nth-child(even) {
        background-color: #d0cfd1;
      }
    #formBusqueda {
        text-align: center;
        padding-top: 5%;
    }
    .botonAccion {
        border: none;
        color: white;
        padding: 3%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
        margin-right: 10%;
      }
      
      .botonAccionEliminar {
        background-color: white; 
        color: black; 
        border: 2px solid #c90e0e;
      }
      
      .botonAccionEliminar:hover {
        background-color: #c90e0e;
        color: white;
      }
      
      .botonAccionEditar {
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
      }
      
      .botonAccionEditar:hover {
        background-color: #008CBA;
        color: white;
      }

    #registroDeClientes{
        float: left;
        width: 100%;
        background-color: #e6f2f6;
        padding-bottom: 10%;  
    }
    #RegistroProducto{
        float: left;
        width: 100%;
        background-color: #e6f2f6;
        padding-bottom: 10%;  
    }
    
    
    footer{   
        float: left; 
        width: 100%; 
        background-color: #144155;
        padding-bottom: 2%;
        color:rgb(187, 234, 234); 
        } 
       
    #contacto {
        float: left;
        width: 33.33%; 
        text-align: center;
    }
    #contacto p {
        text-align: left;
        padding-left: 10%;
         
    }
    #sociales {
        float: left;
        width: 33.33%; 
        text-align: center;
        padding-bottom: 1%;
    }

    #iconosRedes a { 
        padding-right: 5%;
    }

    #nosotros {
        float: left;
        width: 33.33%; 
        text-align: center;
    }
    #nosotros p {
        text-align: justify;
        padding-right: 5%;
    }
   

  

